.background {
  /* border: 1px solid green; 
  padding: 5px; */
  display: flex;
  flex-direction: column;
}

.men--main {

  /* border: 1px solid red; */
}

.women--main {

  /* border: 1px solid green; */
}

.kids--main {

  /* border: 1px solid yellow; */
}

.main-page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  /* background: tomato; */
}
