.main-page-container {

}

.nav-bar-container {
  display: flex;
  /* flex-direction: row; */
  align-items: center;

  /* border: 1px solid red; */
}

.main-page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  /* background: tomato; */
}

.login-link-container {
  justify-content: space-between;

  /* border: 1px solid blue; */
}

.logo-container {
  margin-top: 10px;

  /* border: 1px solid orange; */
}

.logo-link {
  justify-content: space-between;

  /* border: 1px solid blue; */
}

.logo {
  font-size: 70px;

  /* border: 1px solid lightblue; */
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.status {

}

.user-name {
  font-weight: lighter;
  font-size: 16px;

  /* border: 1px solid purple; */
}

.login-link {
  font-size: 16px;
}

.shopping-cart-icon {
  font-size: 30px;
  margin: 20px;
  
}

.main-page {
  padding: 200px 0px 200px 0px;
}

.category-page {

}

.right-label {
  font-size: 18px;
  font-weight: bolder;
  float: right;
  margin: 0px 20px 0px 20px;
}

.right-chevron {
  font-size: 20px;
  float: right;
}

.left-label {
  font-size: 18px;
  font-weight: bolder;
  float: left;
  margin: 0px 20px 0px 20px;
}

.left-chevron {
  font-size: 20px;
  float: left;
}

.category-page-bottom {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  
}

.down-chevron {
  display: flex;
  font-size: 20px;
  align-self: flex-end;
  margin-left: 50%;
  
}

.page-selection {
  font-size: 20px;
  float: right;
  margin-top: 300px;
}

.main-page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.footer-link-1 {
  margin-right: 40px;
}

.linkedin {

}

.footer-link-2 {
  
}

.github {

}