.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-container {
  width: 50%;
  margin-right: 30px;
}

.image {
  min-width: 500px;
  max-width: 100%;
  min-height: 800px;
  max-height: 100%;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* margin-left: 30px; */
  font-family: Helvetica;
}

.product-name {
  font-size: 22px;
  letter-spacing: .3px;
  line-height: 24px;
}

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  font-size: 18px;
  letter-spacing: .3px;
  line-height: 20px;
}

.currency-type {
  margin-left: 10px;
}

.description {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 16px;
}

.cart-form {

}

.quantity {
  
}

.sizes {
  margin-top: 10px;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;

}

.size {
  margin: 0;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .2px;
  padding: 12px 0;
  min-height: 16px;
  cursor: pointer;
}

.size:hover {
  background: blanchedalmond;
}

/* .radio-size {
  margin: 0;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .2px;
  padding: 12px 0;
  min-height: 16px;
} */

.sold-out {

}

.selected-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

.add-button {
  font-size: 16px;
  letter-spacing: .2px;
  font-stretch: condensed;
  font-weight: 700;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  outline: 0;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
}

#success-msg {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  letter-spacing: .2px;
  padding: 10px 16px;
  width: 100%;
}

.loading {

}