.main-div---index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red; */
}

.products-index-div {
    margin-top: 30px;
    width: 99%;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    /* border: 3px solid red; */
    /* padding: 5px; */
}

.category--name {
    font-size: 3vw;
    text-transform: capitalize;
    font-weight: 700;
}

.products-index-ul-left {
    width: 49%;
    flex-direction: column;
    display: flex;

    /* border: 3px solid purple; */
    /* padding: 5px; */
}

.products-index-ul--right {
    width: 49%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    /* border: 3px solid green; */
    /* padding: 5px; */
}

.products-index-product-div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    /* border: 5px solid maroon; */
    /* padding: 5px; */
}

.products--index--img-div {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    /* border: 1px solid red; */
}

/* .products-index-img { */
    /* min-width: 500px;
    max-width: 500px;
    min-height: 800px;
    max-height: 800px; */
    /* width: 40vw;
    height: 50vw; */

    /* background-size: cover;
    background-position: center; */

    /* padding-bottom: 20px; */
/* } */

.product--name:hover {
    text-decoration: underline;
}