.nav-bar-container {
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin: 40px 20px 20px 20px;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
}

.navbar-icon-container:hover .category-menu-navbar{
  display: block;
  background-color: white;
  opacity: 1;
  z-index: 1;
}

.category-menu-navbar {
  display: none;
  position: absolute;
  width: 260px;
  padding-left: 20px;
  padding-top: 240px;
  padding-bottom: 560px;
  background-color: white;
}
.category-menu li{
  font-size: 44px;
  padding: 10px;
}

.category-menu-item-1:hover .menu-item-1-subitems {
  display: block;
}
.menu-item-1-subitems {
  display: none;
}
.category-menu-item-2:hover .menu-item-2-subitems {
  display: block;
}
.menu-item-2-subitems {
  display: none;
}
.category-menu-item-3:hover .menu-item-3-subitems {
  display: block;
}
.menu-item-3-subitems {
  display: none;
}
.menu-item-1-subitems li{
  font-size: 20px;
}

.menu-item-2-subitems li{
  font-size: 20px;
}

.menu-item-3-subitems li{
  font-size: 20px;
}

.login-link-container {
  justify-content: space-between;
}

.logo-container {
  margin-top: 10px;
}

.logo-link {
  justify-content: space-between;
}

.logo {
  font-size: 90px !important;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.user-name {
  font-weight: lighter;
  font-size: 16px;
  text-transform: uppercase;
}

.login-link {
  font-size: 16px;
  padding-right: 10px;
}

.logout-link {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.shopping-cart-icon {
  font-size: 36px;
  margin: 20px;
  padding-right: 10px;
  position: relative;
}

.cart-count {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 28%;
  cursor: default;

}

.cart-count-10 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 40%;
  left: 15%;
  cursor: default;
}

/* Style the search box inside the navigation bar */
.search-bar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
}

.search-button {
  font-size: 24px;
}