.main-page-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    font-family: Helvetica;
}
.footer-link-1 {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-link-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.socials-page {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: lightgrey;
    text-align: center;

    height: 80vh;
    overflow: auto;
}
.social-page-items {
    padding: 50px;
    max-width: 860px;
    font-family: Helvetica;
    font-size: 0.8em;
}
.social-page-items h1 {
    font-size: 40px;
    font-weight: 700;
}
.social-page-items p {
    padding: 40px;
    font-size: 40px;
}

.social-link--div {
    cursor: pointer;
    color: rgb(35, 35, 109);
}

.social-link--div a:last-of-type {
    padding-left: 60px;
}
