.cart-page-container {
    /* height: 1000px;
    width: 800px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
h2 {
    font-size: 30px;
    padding-bottom: 20px;
}
.cart-item-list {
    display: flex;
    flex-direction: row;
}
.empty-mesg {
    text-align: center;
    font-size: 24px;
}
.cart-list-li {
    padding-right: 20px;
}
.cart-list-li span {
     padding-bottom: 10px;
}
.back-to-home {
    font-size: 20px;
    text-decoration: underline;
}
.cart-item-img {
    height: 200px;
    width: 160px;
}
.cart-item-delete {
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
}
.cart-item-pay {
    background-color: rgb(107, 107, 151);
    color: white;
    margin-top: 30px;
    height: 30px;
    width: 120px;
    font-size:16px;
}
.cart-item-total {
    margin-top: 30px;
    font-size: 20px;
}